@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-semibold;
  }
}

/* Toggle Switch Styles */
.toggle-checkbox:checked {
  right: 0;
  border-color: #4338CA;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #4338CA;
}
.toggle-checkbox {
  right: 0;
  transition: all 0.3s;
}
.toggle-label {
  transition: all 0.3s;
}
